/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 0px;
    color: black;
    padding-top: 70px;
    font-family: 'Ubuntu', sans-serif;
}

/*!* unvisited link *!*/
/*a:link {*/
    /*color: black;*/
/*}*/

/*!* visited link *!*/
/*a:visited {*/
    /*color: black;*/
/*}*/

/*!* mouse over link *!*/
/*a:hover {*/
    /*color: black;*/
/*}*/

/*!* selected link *!*/
/*a:active {*/
    /*color: black;*/
/*}*/


/* Header
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}

/* Header - Dropdown cart
------------------------- */

ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}

/* Navigation menu
------------------------- */
.navigation-menu-body {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    text-align: center;

}

a.navigation-menu-body:link {
    padding: 0px 200px;
    word-wrap: normal;
    display: inline-block;

}

/* Banner slider
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 0px;
}

.carousel h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}


/* Banner images
-------------------------------------------------- */
.wp-caption {
    position: relative;
    padding: 0;
    margin: 0;
}
.wp-caption img {
    display: block;
    max-width: 100%;
    height: auto;
}
.wp-caption-text {
    opacity: 1;
    position: absolute;
    width: 100%;
    color: brown;
    font-family: 'Pacifico', cursive;
    left: 0;
    bottom: 45px;
    padding: 0.75em 1em;
    font-size: 2em;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.7);
    /*-webkit-transition: opacity .3s ease-in-out;*/
    /*transition: opacity .3s ease-in-out;*/
}
/*.wp-caption:hover .wp-caption-text {*/
    /*opacity: 1;*/
/*}*/


/* Featured items
-------------------------------------------------- */
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail img {
    height: 250px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

/* Footer
-------------------------------------------------- */

.custom-padding {
    padding-right: 2em;
    padding-left: 2em;
}

.white {
    text-decoration: none;
    color: white;
    display: block;
    padding-bottom: 2em;
}

.lightgrey {
    background-color: #0f0f0f;
}

.custom-padding label {
    color: slategray;
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
}

.dl-horizontal dt {
    color: slategray;
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
}

.dl-horizontal dd {
    color: white;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}