<div class="container-fluid navigation-menu-body"
     align="center"
     ng-controller="HomePageAppCtrl as ctrl" >
     <!--ng-repeat="item in ctrl.shopItems.menu_items track by $index">-->
    <div class="col-xs-12 col-lg-12" align="center">
        <!--<a href="{{item.menu_url}}">{{item.menu_name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->

        <a href="{{ctrl.shopItems.menu_items.menu_url}}" style="color:black;">{{ctrl.shopItems.menu_items[0].menu_name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ctrl.shopItems.menu_items.menu_url}}" style="color:black;">{{ctrl.shopItems.menu_items[1].menu_name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ctrl.shopItems.menu_items.menu_url}}" style="color:black;">{{ctrl.shopItems.menu_items[2].menu_name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ctrl.shopItems.menu_items.menu_url}}" style="color:black;">{{ctrl.shopItems.menu_items[3].menu_name}}</a>

    </div>
</div>
<br>

