
<div id="myCarousel" class="carousel slide" data-ride="carousel" ng-controller="HomePageAppCtrl as ctrl">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <img class="img-responsive" ng-src={{ctrl.shopItems.banners[0].banner_image_url}} alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Attention newbies!</h1>
                    <p>Sign up for our mailing list and receive $5 off your first purchase.</p>
                    <p><a class="btn btn-lg btn-default" href="#" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="item active">
            <img class="img-responsive" ng-src={{ctrl.shopItems.banners[1].banner_image_url}} alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>New collection launches today</h1>
                    <p>Take 15% off for every $100 spent!</p>
                    <p><a class="btn btn-lg btn-default" href="#" role="button">Shop now</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" ng-src={{ctrl.shopItems.banners[2].banner_image_url}} alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>End of season sales</h1>
                    <p>Grab them before they're out of stock.</p>
                    <p><a class="btn btn-lg btn-default" href="#" role="button">Browse sale</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->
