<br><br>
<div class="container navigation-menu-body">
    <div align="center">
        Latest collections
    </div>
</div>
<br><br>
<div class="container" ng-controller="HomePageAppCtrl as ctrl">
    <div class="row" align="center">
        <div class="col-xs-12 col-md-6 col-lg-6 wp-caption">
            <a href="#">
            <img ng-src={{ctrl.shopItems.featured_images[0].banner_image_url}}>
                <div class="wp-caption-text">Shop Autumn Collection</div>
            </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 wp-caption">
            <a href="#">
            <img ng-src={{ctrl.shopItems.featured_images[1].banner_image_url}}>
            <div class="wp-caption-text">Shop Spring Collection</div>
            </a>
        </div>
    </div>
</div>
<br>
