<br>
<div class="container" ng-controller="HomePageAppCtrl as ctrl">
    <div class="container navigation-menu-body">
        <div align="center">
            Featured Picks
        </div>
    </div>
    <br>
    <div align="center">
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-md"><span class="glyphicon glyphicon-th-list"></span></a>
            <a href="#" id="grid" class="btn btn-default btn-md"><span class="glyphicon glyphicon-th"></span></a>
        </div>
        <br><br>
    </div>
    <div id="products" class="row list-group">
        <div class="item col-xs-12 col-lg-4"
             ng-repeat="img in ctrl.featuredItems track by $index">
            <div class="thumbnail">
                <img class="group list-group-image" ng-src={{img.image}} alt=""/>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{img.title}}</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.00</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-default" href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#list').click(function (event) {
            event.preventDefault();
            $('#products .item').addClass('list-group-item');
        });
        $('#grid').click(function (event) {
            event.preventDefault();
            $('#products .item').removeClass('list-group-item');
            $('#products .item').addClass('grid-group-item');
        });
    });
</script>
