<div class="row custom-padding lightgrey" ng-controller="HomePageAppCtrl as ctrl">
    <div class="col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2">
        <!--offset - push from the left by two columns -->

        <address style="padding: 2em;">
            <label>
                Plato Essentials
            </label>
            <a href="https://goo.gl/maps/MfPRfed2hJK2" class="white">
                <strong>
                    {{ctrl.shopItems.address_1}} <br>
                    {{ctrl.shopItems.address_2}}
                </strong>
                <br>
                {{ctrl.shopItems.country}} {{ctrl.shopItems.PostalCode}}
            </a>

            <label>
                Telephone
            </label>
            <a href="tel:+65{{ctrl.shopItems.telephone}}" class="white">
                +65 {{ctrl.shopItems.telephone}}
            </a>

            <label>
                Email
            </label>
            <br><a href="mailto:{{ctrl.shopItems.email}}" class="white">
            {{ctrl.shopItems.email}}
        </a>
        </address>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="container" style="padding: 2em;">
            <dl class="dl-horizontal">
                <dt>Partners</dt>
                <dd>
                    ABC pte ltd<br>
                    DEF Inc<br>
                    GHI.com
                </dd>
            </dl>
        </div>
    </div>


</div>


